.footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid #052760;
}

/* ================= TOP ================= */

.footer-top {

    background: #052760;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px;
    flex-wrap: wrap;

}

.footer-item {

    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;

}

.icon {

    width: 78px;
    height: 78px;

    border-radius: 50%;

    background: #1565ff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 34px;

}

.footer-item h4 {

    color: #2e8cff;
    font-size: 18px;
    margin-bottom: 8px;

}

.footer-item p {

    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;

}

.divider {

    width: 2px;
    height: 90px;
    background: white;
    opacity: .6;

}

/* ================= BOTTOM ================= */
.footer-bottom {

    background: #fff;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0;
    overflow: hidden;
}

.owner {

    display: flex;
    align-items: center;
    gap: 15px;

    padding-bottom: 18px;

}

.owner-icon {

    font-size: 55px;

    color: #1565ff;

}

.label {

    color: #1147b3;

    font-size: 22px;

    font-weight: bold;

}

.name {

    font-size: 22px;

    font-weight: bold;

    color: #111;

}

.logos-row {

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.logo-section-left,
.logo-section-right {

    display: flex;

    align-items: flex-end;

    justify-content: center;

}

.logo-image-left,
.logo-image-right {

    width: 260px;
    height: auto;

    display: block;

    object-fit: contain;

    margin-bottom: -2px;

}

/* Responsive */

@media (max-width:900px) {

    .footer-top {

        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        padding: 30px 20px;

    }

    .footer-item {

        width: 100%;
        min-width: unset;

        justify-content: flex-start;
        flex-direction: row;
        text-align: left;

    }

    .divider {
        display: none;
    }



    .logo-image-left,
    .logo-image-right {

        width: 220px;


    }

    .owner {

        flex-direction: column;
        gap: 1px;
        padding-bottom: 2px;
        text-align: center;

    }

    .owner-icon {

        font-size: 38px;

    }

    .label,
    .name {

        font-size: 16px;

    }

}

@media (max-width:480px) {

    .logo-image-left,
    .logo-image-right {

        width: 85px;

    }

    .owner-icon {

        font-size: 32px;

    }

    .label,
    .name {

        font-size: 14px;

    }

    .icon {

        width: 55px;
        height: 55px;

        font-size: 22px;

    }

    .footer-item h4 {

        font-size: 16px;

    }

    .footer-item p {

        font-size: 15px;

    }

}

.footer-item div:last-child {
    text-align: center;
}

.footer-item div:last-child {
    text-align: left;
}